//////////////
//Lokal Lato//
//////////////
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato-300.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-400.woff) format('woff');
}

@import "settings"; 

// Comment out this import if you dont want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";




//////////////////
//  container   //
//////////////////
#container {
max-width: 1000px;
margin: 0 auto;
}


//////////////////
//    footer    //
//////////////////
footer {
  width: 100%;
  padding: 1%;
  background-color: #eee;
  font-size: 1.2em;
  padding: 25px 0px 20px 0px;
}

//////////////////
// top-bar menu //
//////////////////

@media #{$screen} {

.top-bar .cart {
    color: #fff;
    font-weight: 300;
    margin: 0;
    position: absolute;
    right: 44px;
    top: 8px;
}
.top-bar .cart a {
    color: #fff;

}
}

@media #{$small} {

//
// Top Bar Variables
//

// Background color for the top bar

$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;

// Height and margin

$topbar-height: 60px;
$topbar-margin-bottom: 0;

// Control Input height for top bar

// $topbar-input-height: 0.85em;

// Controlling the styles for the title in the top bar

// $topbar-title-weight: bold;
// $topbar-title-font-size: em-calc(17);

// Style the top bar dropdown elements

$topbar-dropdown-bg: #e2e2e2;
$topbar-dropdown-link-color: #222;
$topbar-dropdown-link-bg: darken($topbar-bg-color, 5%);
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #222;
$topbar-dropdown-toggle-alpha: 0.5;

// Set the link colors and styles for top-level nav

$topbar-link-color: #222;
$topbar-link-color-hover: #222;
$topbar-link-color-active: #666;
$topbar-link-weight: normal;
$topbar-link-font-size: em-calc(14);
$topbar-link-hover-lightness: -30%; // Darken by 30%
$topbar-link-bg-hover: darken($topbar-bg-color, 10%);
$topbar-link-bg-active: darken($topbar-bg-color, 20%);

$topbar-dropdown-label-color: #222;
$topbar-dropdown-label-text-transform: none;
$topbar-dropdown-label-font-weight: 300;
$topbar-dropdown-label-font-size: em-calc(14);
$topbar-dropdown-label-bg: darken($topbar-bg-color, 5%);

// Top menu icon styles

// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: em-calc(13);
// $topbar-menu-link-weight: bold;
// $topbar-menu-link-color: #e2e2e2;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: #888;
// $topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles

// $topbar-transition-speed: 300ms;
// $topbar-breakpoint: 768px !default; // Change to 9999px for always mobile layout
// $topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

// Divider Styles

$topbar-divider-border-bottom: solid 1px lighten($topbar-bg-color, 10%);
$topbar-divider-border-top: solid 1px darken($topbar-bg-color, 10%);

// Sticky Class

// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item

@import "foundation/components/grid";
@import "foundation/components/top-bar";  // *requires components/grid

.top-bar {
    // background: none;
    height:150px !important;
} 

.top-bar-section li a:not(.button) {

    padding: 15x 30px !important ;
}


.top-bar-section .has-form {
    //background: #e2e2e2 !important;
    padding: 8px 0 0 15px !important;
    width: 190px !important;
}

.top-bar-section ul {
    background: #fff !important;
}

.top-bar .name img {
    display: none;
}
.top-bar .name h1 a:before {
    background-image: url('../images/logo_desktop.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 89px;
    margin-top: 30px;
    margin-left:12px;
    position: relative;
    width: 152px;
}



.top-bar .name h1 span{
    display: none;
}
.top-bar form {
    margin: 0px;
}

}

.menu-leftpad {
    padding-left: em-calc(10);
}

/////////////////////////
//BILDER jeg vil lage..//
/////////////////////////
#center {
  text-align: center; 
}

//////////////////////////////
//lukk knapp/link i overlays//
//////////////////////////////

.reveal-modal .close-reveal-modal { 
    position: static;
}

////////////////////////
//panel til #tags-info//
////////////////////////
.panel-custom {
  border-style: solid;
  border-width: 1px;
  border-color: #ff8da1;
  margin-bottom: 1.25em;
  padding: 5px;
  background: pink;
}

///////////////////////////
//boks til instagram #tag//
///////////////////////////

.instagram-caption-small {
  position: static;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.2);
  color: black;
  width: 100%;
  padding: 10px 14px;
  font-size: 0.775em;
}

.instagram-caption-large {
  position: absolute;
  bottom: -1px;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  width: 100%;
  padding: 10px 14px;
  font-size: 0.875em;
}
strong {
  font-weight: 400;
}

////////////////////////////////////////////
//til ting som trenger litt luft under seg//
////////////////////////////////////////////
.space-under {
    margin-bottom: em-calc(20);
}

////////////////
//meny innrykk//
////////////////

.menu-indent {
  text-indent: em-calc(10);
}

.line-through{
  text-decoration:line-through
}

////////////////
// breadcrumbs //
////////////////

.telespinncrumbs {
  @include crumb-container;

  border: none;
  background: none;
  margin: 7px 0 0 0;
  padding: 0;

  li { @include crumbs; }
}

.smuleknapp {

  @include button;
  @include dropdown-button;

  background-color: #f2f2f2;
  margin: 0;
  padding:0 3em 0 0;
  border-color: #f2f2f2;
  color: #333 !important;
  text-transform: uppercase;
  font-weight: 300;
}

.smuleknapp:hover, .smuleknapp:focus {
    background-color: #f2f2f2;
    color: #333;    
}
.smuleknapp:before {
    border-color: #666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.smuleknapp ul {
  list-style-type: none;
}

///////////////////////
// div ikke fet font //
///////////////////////
.top-bar-section .dropdown li a {
  font-weight: 300;
}

.top-bar-section ul li > a {
  font-weight: 300;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea { 
    font-weight: 300;
}

//////////////////////////////
//bumper for mobile checkout//
//////////////////////////////
.bump {
  height: 500px;
}

/////////////////////////////
//no bullets unordered list//
/////////////////////////////
footer ul{
    list-style-type: none;
}