@import url(http://fonts.googleapis.com/css?family=Lato:300); 
// Global Foundation Settings
@import "settings"; 

// Comment out this import if you dont want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

/* http://zurb.com/playground/foundation-icons */
/* font-face */

@include face;

/* global foundicon styles */
[class*="#{$classPrefix}"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="#{$classPrefix}"]:before {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
@include i-class(settings,"000");
@include i-class(heart,"001");
@include i-class(star,"002");
@include i-class(plus,"003");
@include i-class(minus,"004");
@include i-class(checkmark,"005");
@include i-class(remove,"006");
@include i-class(mail,"007");
@include i-class(calendar,"008");
@include i-class(page,"009");
@include i-class(tools,"00a");
@include i-class(globe,"00b");
@include i-class(home,"00c");
@include i-class(quote,"00d");
@include i-class(people,"00e");
@include i-class(monitor,"00f");
@include i-class(laptop,"010");
@include i-class(phone,"011");
@include i-class(cloud,"012");
@include i-class(error,"013");
@include i-class(right-arrow,"014");
@include i-class(left-arrow,"015");
@include i-class(up-arrow,"016");
@include i-class(down-arrow,"017");
@include i-class(trash,"018");
@include i-class(add-doc,"019");
@include i-class(edit,"01a");
@include i-class(lock,"01b");
@include i-class(unlock,"01c");
@include i-class(refresh,"01d");
@include i-class(paper-clip,"01e");
@include i-class(video,"01f");
@include i-class(photo,"020");
@include i-class(graph,"021");
@include i-class(idea,"022");
@include i-class(mic,"023");
@include i-class(cart,"024");
@include i-class(cart2,"024");
@include i-class(address-book,"025");
@include i-class(compass,"026");
@include i-class(flag,"027");
@include i-class(location,"028");
@include i-class(clock,"029");
@include i-class(folder,"02a");
@include i-class(inbox,"02b");
@include i-class(website,"02c");
@include i-class(smiley,"02d");
@include i-class(search,"02e");


//////////////////
//  container   //
//////////////////
#container {
max-width: 1000px;
margin: 0 auto;
}


//////////////////
//    footer    //
//////////////////
footer {
  width: 100%;
  padding: 1%;
  background-color: #eee;
  font-size: 1.2em;
  padding: 25px 0px 20px 0px;
}

//////////////////
// top-bar menu //
//////////////////

@media #{$screen} {

.top-bar .cart {
    color: #fff;
font-weight: bold;
    margin: 0;
    position: absolute;
    right: 90px;
    top: 7px;
}
.top-bar .cart a {
    color: #fff;

}
}

@media #{$small} {

//
// Top Bar Variables
//

// Background color for the top bar

$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;

// Height and margin

$topbar-height: 60px;
$topbar-margin-bottom: 0;

// Control Input height for top bar

// $topbar-input-height: 0.85em;

// Controlling the styles for the title in the top bar

// $topbar-title-weight: bold;
// $topbar-title-font-size: em-calc(17);

// Style the top bar dropdown elements

$topbar-dropdown-bg: #e2e2e2;
$topbar-dropdown-link-color: #222;
$topbar-dropdown-link-bg: darken($topbar-bg-color, 5%);
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #222;
$topbar-dropdown-toggle-alpha: 0.5;

// Set the link colors and styles for top-level nav

$topbar-link-color: #222;
$topbar-link-color-hover: #222;
$topbar-link-color-active: #666;
$topbar-link-weight: normal;
$topbar-link-font-size: em-calc(14);
$topbar-link-hover-lightness: -30%; // Darken by 30%
$topbar-link-bg-hover: darken($topbar-bg-color, 10%);
$topbar-link-bg-active: darken($topbar-bg-color, 20%);

$topbar-dropdown-label-color: #222;
$topbar-dropdown-label-text-transform: none;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: em-calc(14);
$topbar-dropdown-label-bg: darken($topbar-bg-color, 5%);

// Top menu icon styles

// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: em-calc(13);
// $topbar-menu-link-weight: bold;
// $topbar-menu-link-color: #e2e2e2;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: #888;
// $topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles

// $topbar-transition-speed: 300ms;
// $topbar-breakpoint: 768px !default; // Change to 9999px for always mobile layout
// $topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

// Divider Styles

$topbar-divider-border-bottom: solid 1px lighten($topbar-bg-color, 10%);
$topbar-divider-border-top: solid 1px darken($topbar-bg-color, 10%);

// Sticky Class

// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item

@import "foundation/components/grid";
@import "foundation/components/top-bar";  // *requires components/grid

.top-bar {
    // background: none;
    height:150px !important;
} 

.top-bar-section li a:not(.button) {

    padding: 15x 30px !important ;
}


.top-bar-section .has-form {
    //background: #e2e2e2 !important;
    padding: 8px 0 0 15px !important;
    width: 190px !important;
}

.top-bar-section ul {
    background: #fff !important;
}

.top-bar .name img {
    display: none;
}
.top-bar .name h1 a:before {
    background-image: url('../images/logo_desktop.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 89px;
    margin-top: 30px;
    margin-left:12px;
    position: relative;
    width: 152px;
}



.top-bar .name h1 span{
    display: none;
}
.top-bar form {
    margin: 0px;
}

}

/////////////////////////
//BILDER jeg vil lage..//
/////////////////////////
#center {
  text-align: center; 
}

//////////////////////////////
//lukk knapp/link i overlays//
//////////////////////////////

.reveal-modal .close-reveal-modal { 
    position: static;
}

///////////////////////////
//boks til instagram #tag//
///////////////////////////

.instagram-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  width: 100%;
  padding: 10px 14px;
  font-size: 0.875em;
}

////////////////////////////////////////////
//til ting som trenger litt luft under seg//
////////////////////////////////////////////
.space-under {
    margin-bottom: em-calc(20);
}

////////////////
//meny innrykk//
////////////////

.menu-indent {
  text-indent: em-calc(10);
}

.line-through{
  text-decoration:line-through
}
